@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*Define some global values to allow easy color change later on*/
:root{
  --primary: #1a1a1c;
  --secondary: #2b2b2e;
  --lighter: #e1e1e6;
  --hLink: #ff751a;
  --hLinkHover: #803300;
}

body{
  background-image: url("img/background2.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Dustin */

.nav-link:hover{
  color: var(--hLink);
}

.line-divider{
  background-color: var(--lighter);
  border-style: solid;
  border-color: var(--lighter);
  border-width: 1px;
  border-radius: 10px;
  margin: 0% 10% 0% 10%;
}

.fade{
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}
/* Header at top of main page */
.header-format{
  background-color: var(--primary);
  color: var(--secondary);
  /*background-image: linear-gradient(180deg, var(--primary) 0%, #b0b0b8 100%);*/
}

.header-text{
  color: var(--lighter);
  display: inline-block;
  font-family: 'Vollkorn', serif;
  font-family: 'Cairo', sans-serif;
  /*font-family: 'Cabin', sans-serif;*/
  font-size: 18px;
}

.body-text{
  color: var(--lighter);
  display: inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

.navbar-text{
  color: var(--lighter);
  display: inline-block;
  font-family: 'Cairo', sans-serif;
  font-size: 25px;
}

.text-no-font{
  color: var(--lighter);
  display: inline-block;
}

a{
  color: var(--hLink);
}

a:hover{
  color: var(--hLinkHover);
  text-decoration: none;
}

a:active{
  color: var(--lighter);
}

.current-link {
  color: var(--hLinkHover);
}

.navbar .navbar-nav {
  text-align: center;
  background: transparent;
  
}

.navbar-custom{
  background-color: var(--secondary);
  background: linear-gradient(126deg, rgba(26,26,28,1) 0%, rgba(47,47,47,1) 65%, rgba(26,26,28,1) 100%);
  font-size: 20px;
  padding: 0px;
  border: solid;
  border-color: var(--lighter);
  border-left-width: 0px;
  border-right-width: 0px;
  text-align: center;
  box-shadow:0px 6px 5px rgba(0,0,0,0.5);
}
.navbar-center .inline{
  display:inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav.navbar-center {
margin-left: auto;
margin-right: auto;
display: inline-block;
left:  0;
right: 0;
}

.center{
  margin: auto;
  vertical-align: middle;
}

.carousel-game-main{

  border-radius: 8px;
  border: 5px solid var(--primary);
  align-items: center;
}

.home-container{
  background-color: var(--secondary);
  background: linear-gradient(90deg, rgba(32,32,33,1) 0%, rgba(47,47,47,1) 47%, rgba(47,47,47,1) 74%, rgba(35,35,36,1) 100%);
  margin-bottom: 20px;
  border: solid;
  border-color: var(--lighter);
  border-top-width: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}

.portfolio-container{
  background-color: var(--secondary);
  background: linear-gradient(90deg, rgba(32,32,33,1) 0%, rgba(47,47,47,1) 47%, rgba(47,47,47,1) 74%, rgba(35,35,36,1) 100%);
  margin-bottom: 20px;
  border-color: var(--lighter);
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}


/* Portfolio */
.game-title{
  color: var(--lighter);
  text-align: center;
}

.center-img-column{
  display: block;
  margin: auto;
  border: solid;
  border-color: var(--lighter);
}

.icon-click-foreground{
  position: absolute;
  clip-path: circle(00% at center);
  transform:translate(-100%, 0%);
  transition: clip-path 0.5s;
  z-index: 1;
  pointer-events: none;
}
.icon-click-background{
  z-index: 0;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**/

/* Style the Image Used to Trigger the Modal */
.img-expand {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.img-expand:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}


